@import '../../../../style/mixin.less';

#demo-pull-refresh {
    .arcodesign-mobile-title {
        display: none;
    }
    .arcodesign-mobile-demo-content {
        position: relative;
        padding: 0;
        flex: 1;
        .rem(font-size, 14);
        background: transparent;
    }
}
