@import '../../../../style/mixin.less';

#demo-image {
    .@{prefix}-image {
        .rem(width, 109);
        .rem(height, 109);
        border-radius: 2px;
        overflow: hidden;
        .image-desc {
            text-align: center;
            color: #939aa3;
        }
    }
}
