node_modules/
.DS_Store
*/.DS_Store
npm-debug.log
.idea/
.vscode/
.eslintcache
sites/**/pages/
umd/
cjs/
esm/
dist/
esnext/
packages/arcodesign/tests/coverage
packages/arcodesign/style/css
yarn.lock
# package-lock.json
output/
output_resource/
.history
*.func-info.json
*.mixin-info.json
.npmrc

# Emacs
*~
\#*\#
.\#*
.ignore

