#demo-sticky-tabs {
    z-index: 1;
    position: relative;
    padding-bottom: 100vh;

    .arrow-back {
        z-index: 102;
    }
    .arcodesign-mobile-demo-nav-inner {
        z-index: 101;
    }
}