
@import '../../../../style/mixin.less';

#demo-popover {
    padding-bottom: 200px;
    .base-demo-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-top: -24px;
        .popover-item {
            flex: 0 0  50%;
            text-align: center;
            margin-top: 24px;
        }
    }
}
