@import '../../../../style/mixin.less';

#demo-skeleton {
    .arcodesign-mobile-demo-content {
        .arco-cell-group {
            margin-bottom: 0.32rem;
        }
        .arco-cell {
            margin-left: 0;
            padding-right: 0;
        }
    }
}
