@import '../../../../style/mixin.less';

#demo-skeleton {
    .arcodesign-mobile-demo-content {
        .dark {
            background-color: #0e0e0e;
            color: white;
            .arco-skeleton-item {
                background-color: rgba(255, 255, 255, 0.2);
            }
            .arco-radio .radio-text {
                color: white;
            }
        }
    }
}
