.arcodesign-pc-site-footer {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    background: #f7f8fa;
    font-size: 14px;
    &-logo {
        margin-left: 48px;
        margin-right: 20px;
    }
    &-team {
        color: #1d2129;
        &-right {
            font-size: 12px;
            transform: scale(.8);
            margin: 0 4px;
            width: 1em;
            height: 1em;
            vertical-align: -2px;
        }
    }
    &-copyright {
        font-size: 12px;
        margin-top: 2px;
        color: #4e5969;
    }
}
